@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
    color: black !important;
    /* border: 2px gray solid  !important; */
    /* padding: 20px 10px  !important; */
    font-size: 13px !important;
    width: 40px !important;
    height: 100px !important;
    background-color:#666666;
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 30px !important;
  font-weight: bolder !important;

}


.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 0px !important;
  /* right: 0px !important; */

}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 0px !important;
  /* left: 0px !important; */

}
img{
  width: 100%;
  height: 100%;
}

.bg-partner{
  background-image: url('../../public//assets/bg.jpg');
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ensures the background is fixed */

}

.contact-bg{
  background-image: url('../../public//assets/bg-gray.jpg');
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}

.barCompleted{
  width: 60%;
  background-color: #f83730;
  height: 10px;
  margin: 20px 0;
}

.bg-footer{
  background-image: url('../../public//assets/slider3.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;

}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
