/* .swiper-button-prev,
.swiper-button-next {
  font-size: 23px !important;
  font-weight: bold;
  border: 1px solid white;
  padding: 14px 20px;
  border-radius: 50%;
  color: white !important;

} */

.swiper-button-prev,
.swiper-button-next {
    color: white !important;
}
